@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Red Hat Text', sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background: #d1c4d0;
}

.time input {
    width: 35px;
}